{% extends "base.html" %}

{% block content %}

<h1 class="page-title">
    About SentinelPass
</h1>

<div class="card">

    <h2>
        What is SentinelPass?
    </h2>

    <p>

        SentinelPass is a cybersecurity-focused password
        analysis platform designed to help users evaluate
        password strength, detect breached passwords,
        and generate secure passwords.

    </p>

</div>

<br>

<div class="card">

    <h2>
        Key Features
    </h2>

    <ul class="recommendations">

        <li>
            Password Strength Analysis
        </li>

        <li>
            Security Score Calculation
        </li>

        <li>
            Entropy Measurement
        </li>

        <li>
            Password Crack Time Estimation
        </li>

        <li>
            Secure Password Generator
        </li>

        <li>
            Real Breach Detection using
            Have I Been Pwned (HIBP)
        </li>

        <li>
            PDF Security Report Generation
        </li>

        <li>
            Custom Themes (Dark, Light, Blue,Green, Purple)
        </li>

    </ul>

</div>

<br>

<div class="card">

    <h2>
        Why SentinelPass?
    </h2>

    <p>

        Weak and reused passwords remain one of the
        leading causes of cybersecurity incidents.
        SentinelPass helps users identify weak passwords,
        understand security risks, and create stronger
        credentials to improve online safety.

    </p>

</div>

<br>

<div class="card">

    <h2>
    Developed By
</h2>

<p>

    Developed by <strong>Sebah Mariyam K M</strong>
    as a cybersecurity project built using Python,
    Flask, HTML, CSS, and JavaScript.

    SentinelPass focuses on password security
    analysis, breach detection using Have I Been
    Pwned (HIBP), secure password generation,
    and cybersecurity awareness.

</p>

</div>

<br>

<div class="card">

    <h2>
        Version
    </h2>

    <p>
        SentinelPass v1.0
    </p>

</div>

{% endblock %}